@using Microsoft.Extensions.Options
@inject IOptions<homework.Domain.StripeSettings> Stripe
@using homework.Domain.Models
@{
    ViewData["Title"] = "Shopping Cart";
    var cart = ViewData["ShoppingCart"] as ShoppingCart;
    var availableTickets = ViewData["AvailableTickets"] as List<int>;
    double totalPrice = (double)ViewData["TotalPrice"];
    string error = ViewData["Error"] as string;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movie</th>
            <th scope="col">Date</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var item in cart.OrderItems)
            {

                var price = item.Screaning.Price * item.Quantity;


                <tr>
                    <td>@i</td>
                    <td>@item.MovieName</td>
                    <td>@item.Screaning.Date.ToString("dd/MM/yyyy")</td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <form action="/ShoppingCart/ChangeQuantity" method="POST" class="row">
                                    <input type="hidden" name="orderItemId" value=@item.Id />
                                    <div class="col-md-10">
                                        <input class="form-control" name="quantity" type="number" min="1" max=@availableTickets[i-1] value=@item.Quantity />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary ml-1">Save</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2 ml-3">
                                <form action="/ShoppingCart/RemoveOrderItem" method="POST" class="row">
                                    <input type="hidden" name="orderItemId" value=@item.Id />
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-danger ml-2">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </td>
                    <td>@price</td>
                </tr>

                {
                    i++;
                }
            }
        }
    </tbody>

</table>
<hr />

@*<form action="/ShoppingCart/Purchase" method="POST" style="display: inline-block">
    <input type="hidden" value=@cart.Id name="cartId" />
    <button class="btn btn-primary">Purchase</button>
</form>*@

@if (!string.IsNullOrEmpty(error))
{
    <h5 class="text-danger">@error</h5>
}

@if (totalPrice > 0)
{
    <form asp-controller="ShoppingCart" asp-action="PayOrder" method="post" style="display: inline-block">
        <article>
            <script src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="EShop Application Payment"
                data-amount="@(totalPrice * 100)"
                data-label="Pay $@totalPrice">
            </script>
        </article>
    </form>
}


<form action="/ShoppingCart/ClearCart" method="POST" style="display: inline-block">
    <input type="hidden" value=@cart.Id name="cartId" />
    <button class="btn btn-danger">Clear Cart</button>
</form>
