@model IEnumerable<homework.Domain.Models.Screaning>

@{
    ViewData["Title"] = "Index";
    List<int> availableTickets = ViewData["AvailableTickets"] as List<int>;
    int i = 0;

    string GetClass(DateTime date)
    {
        if (date.Date >= DateTime.Today.Date) return "";

        return "bg-danger";
    }
}

<h1>Index</h1>

@{
    if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="GET" action="/Screaning" class="row">
            <div class="col-md-10">
                <input type="date" name="date" class="form-control" min=@DateTime.Today.Date />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary ml-1">Filter</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form method="GET" action="/Screaning" class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-secondary ml-1">Clear Filter</button>
            </div>
        </form>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Name)
            </th>
            <th>
                Available Tickets
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class=@GetClass(item.Date)>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxTickets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Name)
                </td>
                <td>
                    @availableTickets[i]
                </td>
                <td>
                    @{
                        if (item.Date.Date >= DateTime.Today.Date && availableTickets[i] > 0)
                        {
                            <form action="/ShoppingCart/AddToCart" method="POST" style="display: inline-block">
                                <input hidden name="id" value=@item.Id />
                                <button type="submit" class="btn btn-success">Add to cart</button>
                            </form>
                        }

                        if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        }

                        i++;
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
