@model IEnumerable<homework.Domain.Models.Screaning>

@{
    ViewData["Title"] = "Index";
    List<int> availableTickets = ViewData["AvailableTickets"] as List<int>;
    int i = 0;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Name)
            </th>
            <th>
                Available Tickets
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
            <td>
                @availableTickets[i++]
            </td>
            <td>
                <form action="/ShoppingCart/AddToCart" method="POST" style="display: inline-block">
                    <input hidden name="id" value=@item.Id />
                    <button type="submit" class="btn btn-success">Add to cart</button>
                </form>
                @*@Html.ActionLink("AddToCart","AddToCart","ShoppingCart", null, new  { id = @item.Id }) |*@
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
