@using homework.Domain.Models
@{
    ViewData["Title"] = "Admin";
    string userError = ViewData["userError"] as string;
    string fileError = ViewData["fileError"] as string;
    List<Ticket> tickets = ViewData["Tickets"] as List<Ticket>;
    List<string> genres = ViewData["Genres"] as List<string>;
}

<div class="row">
    <div class="col-md-6" style="min-height: 322px !important">
        <div class="card" style="height: 100% !important">
            <div class="card-header">
                <h5>Add user to role:</h5>
            </div>
            <form action="/Admin/AddToRole" method="POST" class=" p-5">
                <div class="form-group">
                    <label for="userName">User Name:</label>
                    <input type="text" class="form-control" name="userName" />

                    @{
                        if (userError != null)
                        {
                            <div class="text-danger">
                                @userError
                            </div>
                        }
                    }
                </div>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <select class="form-control" name="role">
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6" style="min-height: 322px !important">
        <div class="card" style="height: 100% !important">
            <div class="card-header">
                <h5>Import users from xlsx file:</h5>
            </div>
            <form enctype="multipart/form-data" action="/Admin/ImportUsers" method="post" class="form p-5">
                <div class="form-group">
                    <label for="userTable">User file</label>
                    <input class="form-control" type="file" name="userTable" required/>
                    @{
                        if (fileError != null)
                        {
                            <div class="text-danger">
                                @fileError
                            </div>
                        }
                    }
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Import</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr />
<div class="row mt-2">
    <div class="col-md-12">
        <h5>Purchased tickets:</h5>
        <div class="row">
            <div class="col-md-6">
                <form action="/Admin" method="GET">
                    <div class="form-group">
                        <span>Genre:</span>
                        <select class="form-control" name="genre">
                            <option value="">---</option>
                            @foreach (var genre in genres)
                            {
                                <option value=@genre>@genre</option>
                            }
                        </select>

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Filter</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form action="/Admin/ExportTickets" method="POST">
                    <select hidden multiple name="ticketIds">
                        @{
                            foreach (var ticket in tickets)
                            {
                                <option selected value=@ticket.Id></option>
                            }
                        }
                    </select>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Export to xlsx</button>
                    </div>
                </form>
            </div>
        </div>

        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Movie</th>
                    <th>Genre</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int i = 1;

                    foreach (var ticket in tickets)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@ticket.User.UserName</td>
                            <td>@ticket.Screaning.Movie.Name</td>
                            <td>@ticket.Screaning.Movie.Genre</td>
                            <td>@ticket.Screaning.Date.ToShortDateString()</td>
                        </tr>

                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
